{
    "singleQuote": false,
    "trailingComma": "none",
    "printWidth": 100,
    "tabWidth": 4,
    "semi": true,
    "useTabs": true,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "babylon" }
        }
    ]
}
